.home__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.home__input {
  width: 50%;
  height: 2rem;
  margin: 1rem 0;
  padding: 0.5rem;
  border: 1px solid #333;
  border-radius: 0.5rem;
  font-size: 2rem;
  font-weight: 700;
  color: #333;
}

.home__btn {
  width: 20%;
  height: 10%;
  height: 2rem;
  margin: 1rem 0;
  padding: 0.5rem;
  border: 1px solid #333;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  color: #333;
  background-color: #fff;
  cursor: pointer;
}
